.about-us {
	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	&__media {
		margin-right: 60px;
		max-width: 320px;
		@include media-breakpoint-down(sm) {
			display: none;
		}
		@include media-breakpoint-down(lg) {
			margin: {
				right: 0px;
				bottom: 40px;
			};
		}
	}
	&__image {
		border-radius: 11px;
		max-width: 100%;
	}
	&__inf {
		max-width: 430px;
		p {
			margin-top: 20px;
		}
		@media (max-width: 991px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			h3 {
				text-align: center;
			}
		}
	}
	&__info-paragraph {
		font-size: large;
	}
	&__button {
		margin-top: 30px;
	}
	&__info-paragraph {
		opacity: 0.5;
	}
}