.accordion {
	color: white;
	&-item {
		margin: 16px 8px 0 8px;
		background-color: rgba(255, 255, 255, 0);
		box-sizing: border-box;
		border-bottom: 1px solid white !important;
	}
	&-header {
		color: white;
		background-color: rgba(255, 255, 255, 0);
		.collapsed {
			background-color: rgba(255, 255, 255, 0);
		}
	}
	&-button {
		background-color: rgba(255, 255, 255, 0);
		color: white;
		&::after {
			filter: invert(100%) grayscale(1) contrast(1);
		}
		&:not(.collapsed) {
			background-color: rgba(255, 255, 255, 0);
			color: white;
		}
	}
	&-body {
		background-color: rgba(255, 255, 255, 0);
		color: white;
	}
	@include media-breakpoint-down(lg) {
		display: flex;
		flex-direction: column;
	}
}