.nav {
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 100px;
	&__logotype {
		margin: 5px 15px;
		a {
			text-decoration: none;
		}
	}
	&__logotype * {
		font-size: larger;
	}
	&__logotype {
		margin: 0 15px;
	}
	&__search-field {

		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration,
		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration { display: none; }

		&::placeholder {
			color: rgba(255, 255, 255, 0.5);
		}
		margin: 0 15px;
		min-width: 380px;
		min-height: 40px;
		padding: 10px 10px 10px 40px;
		color: rgba(255, 255, 255, 1);
		font-weight: bold;
		border-radius: 10px;
		border: 0;
		box-shadow: none;
		background: rgba(255, 255, 255, 0.1);
		background-image: url('../assets/icons/search_nav_icon_search.svg');
		background-position: 10px 12px;
		background-repeat: no-repeat;
	}
	&__links {
		display: flex;
		flex-direction: row;
		align-items: center;
		align-self: center;
		margin: 0;
		padding-left: 0;
		font-size: larger;
	}
	&__li {
		margin-left: 15px;
		padding: 10px 20px;
		&:nth-child(1) {
			margin-left: 0;
		}
	}
	&__a {
		color: white;
		text-decoration: none;
		&:hover {
			color: rgba(255, 255, 255, 0.9);
			text-decoration: none;
		}
	}
	&__button {
		margin: 0 15px;
	}
}

