.partners {
	@include media-breakpoint-down(sm) {
		margin-top: 32px;
	}
	&__partner {
		display: flex;
		justify-content: center;
	}
	&__logotypes {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		flex-shrink: 1;
		padding: 0;
		@include media-breakpoint-down(sm) {
			flex-direction: column;
		}
	}
	&__logotype {
		filter: grayscale(1) brightness(1);
		transition: all .3s ease;
		margin: 24px 32px;
		&:hover {
			filter: grayscale(0);
		}
		@include media-breakpoint-down(lg) {
			max-width: 240px;
		}
		@include media-breakpoint-down(md) {
			max-width: 180px;
		}
		@include media-breakpoint-down(sm) {
			max-width: 240px;
			margin: 24px 0;
		}
	} 
}