@mixin button {
	font-weight: 500;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	box-shadow: 2px 8px 8px 1px rgba(0,0,0,0.1);
	border-width: 0;
	border-radius: 10px;
}