.logotype {
	&--accent {
		background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
	}
}