@import 'button';

.secondary-button {
	@include button;
	background: rgba(0, 0, 0, 0.3);
	&:hover {
		background: rgba(0, 0, 0, 0.5);
	}
	&:active {
		box-shadow: inset -8px 8px 8px 1px rgba(0,0,0,0.4);
	}
}