.first-section {
	display: flex;
	flex-direction: row;
	h1 {
		font-size: xxx-large;
	}
	&__paragraph {
		opacity: 0.5;
	}
	&__buttons {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	&__button {
		margin-right: 20px;
		min-width: 135px;
	}
	.primary-button {
		max-height: 44px;
	}
	.secondary-button {
		padding: 12px 20px;
	}
	&__images {
		display: flex;
		&-column {
			display: flex;
			flex-direction: column;
		}
	}
	&__image {
		margin: 15px;
		border-radius: 11px;
	}
	&__stats {
		display: flex;
		flex-direction: row;
		padding-left: 0;
		margin-top: 40px;
	}
	&__stat {
		h3 {
			font-weight: bold;
			margin-bottom: 0;
		}
	}
	&__label {
		opacity: 0.5;
	}
	&__li {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 991px) {
	.first-section {
		&__images {
			display: none;
		}
	}
}