.secondary-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	background: rgba(0, 0, 0, 0.3);
	box-shadow: 2px 8px 8px 1px rgba(0,0,0,0.1);
	border-color: rgba(0, 0, 0, 1);
	border-width: 0;
	border-radius: 10px;
	color: white;
	font-weight: 500;
	&:hover {
		box-shadow: -2px 8px 8px 1px rgba(0,0,0,0);
	}
	&:active {
		box-shadow: inset -8px 8px 8px 1px rgba(0,0,0,0.2);
	}
	&__icon {
		margin-right: 4px;
	}
}