.top-creators {
	&__cards {
		display: flex;
		justify-content: space-between;
		flex-grow: 1;
		margin-top: 30px;
	}
	&__card {
		&:nth-last-child(1) {
			margin-right: 0;
		}
		#top-creator-bg-1 {
			min-height: 134px;
			max-width: 100%;
			background-image: url(../assets/img/creators/backgrounds/cr1_dan-cristian-padure-SMSLyc9FHl0-unsplash\ \(1\)\ 1_creators_bg.jpg);
		}
		#top-creator-bg-2 {
			min-height: 134px;
			max-width: 100%;
			background-image: url(../assets/img/creators/backgrounds/cr2_david-sjunnesson-XMOX_4H8Ifc-unsplash\ cr2_1_creators_bg.jpg);
		}
		#top-creator-bg-3 {
			min-height: 134px;
			max-width: 100%;
			background-image: url(../assets/img/creators/backgrounds/cr3_zak-7wBFsHWQDlk-unsplash\ 1_creators_bg.jpg);
		}
	}
	.card {
		&__background {
			margin: 0 ;
		}
		&__avatar {
			align-self: center;
			margin-top: -64px;
			height: 128px;
			width: 128px;
			box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
		}
		&__fullname {
			text-align: center;
			font-size: larger ;
			font-weight: 700;
		}
		&__bid-name {
			opacity: 0.5;
			text-align: center;
			font-size: medium;
			margin: auto 8px auto 8px;
		}
	}
}