@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/Poppins-Regular.ttf") format("ttf"),
		   url("../assets/fonts/Poppins-Bold.ttf") format("ttf");
};
@import url(@root/node_modules/normalize.css/normalize.css);
@import '@root/node_modules/bootstrap/dist/css/bootstrap.css';
@import '@root/node_modules/bootstrap/scss/bootstrap.scss';
@import 'lib';

* {
	font-family: 'Poppins', sans-serif;
	color: white;
}

.list-group {
	text-align: center;
	.active {
		background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
	}
	&-item {
		border-radius: 10px !important;
	}
}